<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- board_id → boardId 자동 매핑 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!--&lt;!&ndash; Mapper XML 위치 지정 &ndash;&gt;
    <mappers>
        <mapper resource="mapper/BoardMapper.xml"/>
        <mapper resource="mapper/ReplyMapper.xml"/>
        <mapper resource="mapper/MemberMapper.xml"/>
    </mappers>-->
</configuration>
